.alert-danger {
    background-color: #ffc1cf;
    color: #df1239;
    font-weight: 500;
    padding: 0 2.1rem;
    border-radius: 5px;
    border: 1px solid #ff3882;
}

.alert-success {
    background-color: #b8ffe1;
    color: #2bbb31;
    font-weight: 700;
    font-size: 1rem;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #06e37c;
}