.portada{
    background-color: #f1f1f1;
    padding: 5rem 2rem;
}

.plans{
    background-color: #f1f1f1;
    h3{
        text-align: center;
        padding: 1rem;
    }

    .plans__container{
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;
        padding: 0 5rem;

        .plans__free{
            width: 30%;
            text-align: center;
        }
    
        .plans__pay{
            width: 50%;

            h4{
                text-align: center;
            }

            .plan__pay-container{
                display: flex;
            }
        }
    }
    p{
        text-align: center;
        padding: 2rem 0;
    }
}
.btn-landing{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.plans__free-image svg{
    width: 100px;
    height: 100px;
}