.dashboard__container{
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
}

.dashboard__sidebar{
    width: 25%;
    height: 100%;
}

.categoriaPlatillos__container{
    width: 75%;
}

.platillos__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 2rem;
    justify-content: center;
    a{
        text-decoration: none;
    }
}

.categorias__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
    justify-content: center;
    margin-bottom: 2rem;

    a{
        text-decoration: none;
    }
}
